
{%extends "personal/header.html"%}
{%block content%}
{%load staticfiles%}

<div class="col-xs-12" style="height:50px;"></div>

<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-1">
    <div class="thumbnail">
      <img src="{% static 'media/Comittee/3.png'%}" alt="...">
      <div class="caption">
        <h3>President - Krupanadan </h3>
        <p>Brock Edward Lesnar(born July 12, 1977) is an American professional wrestler and former amateur wrestler, professional American football player, and mixed martial artist[4] who is currently signed to WWE.[5] Lesnar is a four-time WWE (World Heavyweight) Champion, a former UFC Heavyweight Champion, and an NCAA Division I Heavyweight Wrestling Champion,[6][7] the only person to have won a WWE championship, UFC championship, and NCAA championship in a career. He is also a one-time IWGP Heavyweight Champion, making him a five-time world champion in professional wrestling.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4  col-md-offset-2">
    <div class="thumbnail">
      <img src="{% static 'media/Comittee/1.jpg'%}" alt="...">
      <div class="caption">
        <h3>General Secretary - Balaji Singh</h3>
        <p>Brock Edward Lesnar (born July 12, 1977) is an American professional wrestler and former amateur wrestler, professional American football player, and mixed martial artist[4] who is currently signed to WWE.[5] Lesnar is a four-time WWE (World Heavyweight) Champion, a former UFC Heavyweight Champion, and an NCAA Division I Heavyweight Wrestling Champion,[6][7] the only person to have won a WWE championship, UFC championship, and NCAA championship in a career. He is also a one-time IWGP Heavyweight Champion, making him a five-time world champion in professional wrestling.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-1">
    <div class="thumbnail">
      <img src="{% static 'media/Comittee/2.jpg'%}" alt="...">
      <div class="caption">
        <h3>Accountant - Jishnu </h3>
        <p>Brock Edward Lesnar (born July 12, 1977) is an American professional wrestler and former amateur wrestler, professional American football player, and mixed martial artist[4] who is currently signed to WWE.[5] Lesnar is a four-time WWE (World Heavyweight) Champion, a former UFC Heavyweight Champion, and an NCAA Division I Heavyweight Wrestling Champion,[6][7] the only person to have won a WWE championship, UFC championship, and NCAA championship in a career. He is also a one-time IWGP Heavyweight Champion, making him a five-time world champion in professional wrestling.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>


{%endblock%}

